@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.animated.faster {
    animation-duration: 500ms;
}

.fadeIn {
    animation-name: fadeIn;
}

.fadeOut {
    animation-name: fadeOut;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.user-count-list {
    z-index: 50; /* Ensure this is above the overlay */
}

.bg-overlay {
    z-index: 40; /* Ensure this is below the user-count-list */
}
