@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.faster {
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

.bottom-32 {
    bottom: 128px;
}

.fill-black {
    fill: black;
}

.text-gradient-270 {
    background: linear-gradient(270deg, #A60453, #FFB144); /* Define the gradient */
    -webkit-background-clip: text; /* Apply background clip to text */
    background-clip: text; /* Apply background clip to text */
    color: transparent; /* Make text transparent to show the gradient */
}

/* Custom styles for the Grid.js table */
.gridjs-table {
    width: 100%;
    border-collapse: collapse;
}

.gridjs-th, .gridjs-td {
    padding: 10px;
    border: 1px solid #ddd;
}

.gridjs-th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.gridjs-td {
    background-color: #fff;
}

.gridjs-container {
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.gridjs-search {
    margin-bottom: 10px;
    text-align: right;
}

.gridjs-pagination {
    margin-top: 10px;
    text-align: center;
}

.text-color {
    color: rgb(107, 139, 244);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}